<!DOCTYPE html>
<html>
    <head>
        <title>About | Informer</title>
    </head>
    <body>
        <h1>About</h1>
        <p>
            <a href="http://localhost:3000/">Informer</a>
            は、設定した時刻に音声で時刻をお知らせするサービスです。
        </p>
    </body>
</html>