<!DOCTYPE html>
<html>
    <head>
        <title>Contact | Informer</title>
    </head>
    <body>
        <h1>Informer</h1>
        <p>
            This is the contact page of the
            <a href="http://localhost:3000/">Informer</a>
            .
        </p>
    </body>
</html>