<% provide(:title, "Contact") %>
<h1>Contact</h1>
<body>
    <p>
        改善して欲しい点や要望をご記入ください。
    </p>
    <form class="form" action="">
        <table class="form-table">
            <tr> 
                <td>
                    <%# 大きいテキストボックス(cols:文字数, rows:行) %>
                    <textarea class="textarea" cols="20" rows="15"></textarea>
                </td>
            </tr>
        </table>
        <div class="form-submit">
            <%# onclick="return false"で画面遷移できるようにしている %>
            <button id="js-submit" class="button" type="submit" onclick="return false">送信</button>
        </div>
    </form>
</body>