<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
    改善して欲しい点や要望をご記入ください。
</p>
<form class="form" action="">
    <table class="form-table">
        <tr> 
            <td>
                <%# 大きいテキストボックス(cols:文字数, rows:行) %>
                <textarea class="textarea" cols="20" rows="15"></textarea>
            </td>
        </tr>
    </table>
</form>
<%# formタグの中に書くとエラーになる %>
<div class="form-submit">
    <%= button_to "送信", complete_path, {method: :get, class: "button"} %>
</div>