<% provide(:title, "Contact") %>
<h1 class="headline">Contact</h1>
<body>
    <p class="script_contact">改善してほしい点やご要望を記入してください。</p>
    <%= form_with model: @contact, local: true do |f| %>
        <% if @contact.errors.any? %>
            <div>
                <ul>
                <% @contact.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
            </div>
        <% end %>
        <table>
            <tr> 
                <td>
                    <%= f.text_area :content, cols:"20", rows:"15" %>
                </td>
            </tr>
        </table>
        <%= f.submit "送信" %>
    <% end %>
</body>
